@inject ICourseRepository _CourseList

@{
    var course = _CourseList.Collection();
}
@foreach (var item in course)
{
    

 <div class="course-item">
                        @* <div class="client-item-img">
                            <img src="~/MemberImages/@item.imageUrl" alt="Testimonial Images">
                        </div> *@
                        <h3>@item.CourseName</h3>
                        <p>
                            @item.CourseStartDate</p>
                        <small>@item.Time1 | @item.Time2 | @item.Time3</small>
                        <br/>
                       <a asp-action="Course" asp-controller="Home" asp-route-id="@item.Id" class="nav-link"> <div class="default-btn">More</div> </a>
                    </div>

}