 @model List<TBSTech.Models.ContactDetail>
  @{
    var N=0;
}
 <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Contact Details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Your Contact Detail</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
<div class="card">
        <div class="card-header">
          <h3 class="card-title">Contact Details</h3>
                              <a asp-controller="ContactDetails" asp-action="New" style="background-color:#007bff;text-align:center;float:right;color:white;width:150px;border-radius:20px;cursor:pointer;padding:10px;">Add ContactDetails</a>

        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 10%">
                         #
                      </th>
                      <th style="width: 20%">
                          Phone Number
                      </th>
                      <th style="width: 25%;">
                          Telephone
                      </th>
                      <th style="width: 20%;">
                        Address
                      </th>
                      <th style="width: 20%;">
                        E-mail
                      </th>
                    
                      <th style="width: 25%">
                      </th>
                  </tr>
              </thead>
      <!-- Default box -->
      @foreach (var item in Model)
      {
          N++;
      
      
              <tbody>
                  <tr>
                      <td>
                          @N
                      </td>
                      <td>
                           <strong>   @item.PhoneNumber</strong>
                          
                      </td>
                        <td  style="text-align:justify;">
                          <strong>
                              @item.TelePhone
                          </strong>
                      </td>
                       <td>
                           <strong>   @item.Address</strong>
                          
                      </td>
                       <td>
                           <strong>   @item.Email</strong>
                          
                      </td>
                    
                      <td>
                          <a class="btn btn-info btn-sm" asp-controller="ContactDetails" asp-action="Update" asp-route-id="@item.Id" style="margin-bottom: 5px;border-radius:0;">

                              
                             <b>+</b> Edit&nbsp;&nbsp;&nbsp;&nbsp;
                          </a>
                          <a class="btn btn-danger btn-sm" asp-controller="ContactDetails" asp-action="Delete" asp-route-id="@item.Id" style="margin-bottom: 5px;border-radius:0;">
                              
                             <b>-</b> Delete
                          </a>
                      </td>
                  </tr>
                  
              </tbody>
        
      
      }
        </table>
        </div>
   
      </div>
    </section>
    <!-- /.content -->

  <!-- /.content-wrapper -->